{% extends "base.html" %}
{% block content %} 
<h3 style="margin-left:15px">Posts of @{{user.username}}</h3>
<h4 style="margin-left:15px">Total Post: {{post.total}}</h4><br>
<div class="container">
    <main class="content">
    {% for item in post.items %}
    <article class="blog-post">
        <h2><a href="{{ url_for('post', post_id=item.id) }}">{{item.title}}</a></h2>
        <p class="post-meta">Date of Post: {{item.date_posted.strftime('%Y-%m-%d')}}</p>
        <div class="post-excerpt">
          <p>
            {{item.content}}
          </p> 
        </div>
        <div class="post-read-more"> 
          <h4>{{item.author.username}}</h4>
        </div>
      </article>
      {% endfor %}
      {% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if post.page == page_num %}
          <a class="pagination active" href="{{ url_for('user_posts', username=user.username,page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="pagination" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </main>
    <aside class="right-sidebar">
      <div class="category-list">
        <h2>Categories</h2>
        <ul>
          <li><a href="#category1">Category 1</a></li>
          <li><a href="#category2">Category 2</a></li>
          <li><a href="#category3">Category 3</a></li>
          <!-- Add more categories as needed -->
        </ul>
      </div>
    </aside>
  </div>
{% endblock %} 

